.card-bg{
  background: linear-gradient(220.55deg, #A531DC 0%, #4300B1 100%);
  backdrop-filter: blur(18px) saturate(200%);
  margin : 0px;
}

/* .card-bg{
  background: linear-gradient(220.55deg, #A531DC 0%, #4300B1 100%);
  backdrop-filter: blur(18px) saturate(200%);
  margin : 0px;
} */