<div class="container">

    <!-- Users Table -->
    <div class="row text-center">
          <h1 class="display-5">Account Details</h1>
          <hr>
    </div>
    <div class="row">
          <div class="col " style="overflow-x:auto;">
                <table class="table table-hover table-striped table-bordered">

                      <!-- table Headings -->
                      <thead class="thead-light">
                            <tr>
                                  <th scope="col">Email</th>
                                  <th scope="col">Password</th>
                                  <th scope="col">Username</th>
                                  <th scope="col">Mobile</th>
                                  <th scope="col">UserRole</th>
                                  <th scope="col">Edit</th>
                                  <th scope="col">Delete</th>

                            </tr>
                      </thead>

                      <!-- Looping Users -->
                      <tbody>
                            <tr *ngFor="let x of Users; let i = index">
                                  <td>{{x.email}}</td>
                                  <td>{{x.password}}</td>
                                  <td>{{x.username}}</td>
                                  <td>{{x.mobileNumber}}</td>
                                  <td>{{x.userRole}}</td>

                                  <!-- Edit User Toggle-->
                                  <td><button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                              data-bs-target="#staticBackdrop" (click)="SaveUser(i)">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                  </svg>
                                        
                                        </button></td>

                                  <!-- Delete User Toggle -->
                                  <td><button class="btn btn-danger btn-sm" (click)="DeleteUser(i)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                            </svg>
                                  </button></td>
                            </tr>
                      </tbody>
                </table>
          </div>
    </div>

    <!-- Floating Edit Controls using Bootstrap modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
                <div class="modal-content">
                      <div class="modal-header">
                            <h1 class="display-6 modal-title" id="staticBackdropLabel">Recharge Form</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                            <form class="form-group" [formGroup]="EditUserForm" (ngSubmit)="PutUserDetails()">
                                  <div class="row">
                      
                                        <!-- Email Container -->
                      
                                        <div class="col-6">
                                              <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                          <div class="input-group-text inputx">Email ID</div>
                                                    </div>
                                                    <input type="email" class="inputx form-control"
                                                          formControlName="_Email" placeholder="Email">
                                              </div>
                                              <div class="text-danger alert inputy"
                                                    *ngIf="!EditUserForm.get('_Email')?.valid && EditUserForm.get('_Email')?.touched;">
                                                    Invalid
                                                    Email!!!</div>
                                        </div>
                      
                                        <!-- Password Container -->
                      
                                        <div class="col-6">
                                              <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                          <div class="input-group-text inputx">Password</div>
                                                    </div>
                                                    <input type="text" class="inputx form-control"
                                                          formControlName="_Password" placeholder="Password">
                                              </div>
                                              <div class="text-danger alert inputy"
                                                    *ngIf="!EditUserForm.get('_Password')?.valid && EditUserForm.get('_Password')?.touched;">
                                                    Invalid
                                                    password!!!</div>
                                        </div>
                      
                                        <!-- UserName Container -->
                      
                                        <div class="col-6">
                                              <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                          <div class="input-group-text inputx">UserName</div>
                                                    </div>
                                                    <input type="text" class="inputx form-control"
                                                          formControlName="_Username">
                                              </div>
                                              <div class="text-danger alert inputy"
                                                    *ngIf="!EditUserForm.get('_Username')?.valid && EditUserForm.get('_Username')?.touched;">
                                                    Invalid
                                                    UserName!!!</div>
                                        </div>
                      
                                        <!-- Mobile Number Container -->
                      
                                        <div class="col-6">
                                              <div class="input-group mb">
                                                    <div class="input-group-prepend">
                                                          <div class="input-group-text inputx">Mobile Number</div>
                                                    </div>
                                                    <input type="text" class="inputx form-control"
                                                          formControlName="_MobileNumber"
                                                          placeholder="Enter number to Recharge">
                                              </div>
                                              <div class="text-danger alert inputy"
                                                    *ngIf="!EditUserForm.get('_MobileNumber')?.valid && EditUserForm.get('_MobileNumber')?.touched;">
                                                    Invalid
                                                    Mobile Number!!!</div>
                                        </div>
                      
                                        <!-- UserRole Container -->
                      
                                        <div class="col-6">
                                              <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                          <div class="input-group-text inputx">UserRole</div>
                                                    </div>
                                                    <select formControlName="_UserRole" class="inputx form-control"
                                                    id="">
                                                    <option value="user">User</option>
                                                    <option value="admin">Admin</option>
                                              </select>
                                              </div>
                                        </div>
                                  </div>
                            </form>
                      </div>

                      <!-- To Change & Close Edit -->
                      <div class="modal-footer">
                            <!-- Close -->
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            <!-- Change User Details Action-->
                            <button type="button" class="btn btn-primary"
                                  [disabled]="!(EditUserForm.get('_Email')?.valid && 
                                  EditUserForm.get('_Password')?.valid &&
                                  EditUserForm.get('_MobileNumber')?.valid && 
                                  EditUserForm.get('_Username')?.valid)"
                                  (click)="PutUserDetails()" data-bs-dismiss="modal">Change</button>
                      </div>
                </div>
          </div>
    </div>
</div>