<nav class="navbar fixed-bottom navbar-dark bg-dark navbar-fixed-bottom py-3 pe-4 ps-4 mt-5">
      <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                  <i class="fa fa-btc fa-2x text-white" aria-hidden="true"></i>
            </a>
            <span class="text-muted">© 2021 Company, Inc</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#">
                        <i class="fa fa-twitter-square fa-2x text-white" aria-hidden="true"></i>
                  </a></li>
            <li class="ms-3"><a class="text-muted" href="#">
                        <i class="fa fa-github fa-2x text-white" aria-hidden="true"></i>
                  </a></li>
            <li class="ms-3"><a class="text-muted" href="#">
                        <i class="fa fa-instagram fa-2x text-white" aria-hidden="true"></i>
                  </a></li>
      </ul>
</nav>