<app-navbar></app-navbar>
<div class="container" style="min-width: 370px; margin-bottom: 100px; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;">
      <div class="row">
            <div class="col">
                  <router-outlet></router-outlet>
                  <!-- Navbar Component -->
                  <!-- Addon Component -->
                  <!-- PostPaid Component -->
                  <!-- PrePaid Component -->
                  <!-- Users Component -->
            </div>
      </div>
</div>
<app-footer></app-footer>